<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="newest_post" style="color: white; background-color: black; margin-top: 40px">

  <p id="whats_new" style="color:white">What's NEW!</p>
           
    <% if(newest_recipe_title) { %>
      <p id="newest_head" style="color:#B2A000">What 'I' Eat! Recipes for 'You'!</p>
      <p id="newest_title" style="color:white"><a style="color:white; " href="/what_i_eat_recipes/#"<%= newest_recipe_id %>><%= newest_recipe_title %></a></p>
    <% } %>
    
    <% if(newest_journey_title) { %>
      <p id="newest_head" style="color:#B2A000">My Food Journey</p>
      <p id="newest_title" style="color:white"><a style="color:white; " href="/my_food_journey/#"<%= newest_journey_id %>><%= newest_journey_title %></a></p>
    <% } %>
    
    <% if(newest_favorite_title) { %>
      <p id="newest_head" style="color:#B2A000">My Favorite Stuff</p>
      <p id="newest_title" style="color:white"><a style="color:white;" href="/my_favorite_stuff/#"<%= newest_favorite_id %>><%= newest_favorite_title %></a></p>
        <% } if (!newest_recipe_title && !newest_journey_title && !newest_favorite_title){ %>
           <p id="content_notify" style="color:black"> There's no new contents! </p>
        <% } %>
        
</div>
